
body {
	background-image : url(images/grayscale-photography-of-trees-1529881.jpg);
	background-size : cover;
	/* background-repeat : no-repeat; */
	background-color : black; /* used if image is unavailable */
}
.content {
	color : white;
	text-align : center;
}
.buttonbar {
	height : 30px;
	background-color : transparent; /* 9E9E9E */
	text-align : right;
}
.button {
	color : white; /*443755*/
	background-color : transparent;
	border : none;
	padding : 6px;
	font-size : 15px;
	outline : none;
}