
body {
	/*red -> blue -> grey*/
	background: linear-gradient(-45deg, #e16a6a, #d05bae, #2aa2b0, #b1f2ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	background-color: black; /* used if image is unavailable */
	font-family: 'IBM Plex Mono', monospace;
	/*font-weight: 200;*/
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
.buttonbar {
	height: 30px;
	background-color: transparent;
	text-align: right;
}
.button {
	color: white;
	background-color: transparent;
	border: none;
	padding: 6px;
	font-size: 15px;
	outline: none;
	font-family: source-code-pro, monospace;
	font-style: normal;
	font-weight: 200;
}
.front-flex {
	color: white;
	text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
	text-align: center;
	width: 90%;
    position: relative;
    display: block;
    margin: auto;
}
.title {
	font-size: 3em;
}
.description {
	font-size: 1em;
}
.wrapper {
	position: absolute;
	left: 50%;
	top: 420px;
	transform: translate(-50%, -50%);
}
.wrapper i {
  padding: 5px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.wrapper a:nth-child(1) {
	color: white; 
}
.wrapper a:nth-child(2) {
	color: white;
}
.wrapper a:nth-child(3) {
	color: white;
}
.wrapper a:nth-child(4) {
	color: white;
}
.wrapper i:hover {
	margin-top: -3px;
	text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}
