/*
*  TODO:
*    * make desktop background
*    * add date & time and do UI
*    * CHAT BOX : people log in with username and chat with other people on the site
*/
body {
    height: 98vh;
    padding: 0;
}
body {
    background-color: rgb(18, 16, 104);
    background-image: url(../images/neon_retro.jpg);
    background-size: cover;
	background-position: top;
    background-repeat: no-repeat;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8em;
    image-rendering: -webkit-optimize-contrast;
}
.panel {
    position: absolute;
    background-color: rgba(10, 0, 53, 0.815);
    width: 40rem;
    height: 20rem;
    border-radius: 5px;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
.panel .top_bar {
    height: 25px;
    border-radius: 5px 5px 0 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: move;
}
.top_bar .descriptor {
    padding-left: 10px;
    padding-top: 5px;
}
.top_bar .buttons {
    display: flex;
    justify-content: end;
}
.top_bar .bar_click {
    border-left: 1px solid white;
    width: 30px;
    text-align: center;
    padding-top: 5px;
}
.top_bar .bar_click:hover {
    background-color: greenyellow;
    cursor: pointer;
}
.panel .subtitle {
    display: block;
    width: 40rem;
    padding-bottom: 10px;
    font-weight: 600;
    color:rgb(255, 214, 34)
}
.panel .subtitle .cmd {
    color: rgb(78, 255, 116);
}
.panel .content {
    color: rgb(228, 228, 228);
    width: 80%;
}
/*Desktop panels*************************************************************/
.terminal {
    height: 25rem;
    box-shadow: 0px 0px 15px 1px rgba(41, 0, 221, 0.808);
}
#sketchbook {
    height: 40rem;
    width: 80rem;
    visibility: hidden;   
    background-color: white; 
}
#sketchbook .container {
    display: flex;
}
#sketchbook .art-info {
    padding: 2rem;
    width: 20%;
    line-height: 2rem;
}
#sketchbook .content {
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    margin-top: 3rem;
    width: 75%;
}
#sketchbook img {
    width: 100%;
    height: auto;
}
#sketchbook .content {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}
#sketchbook .img-holder {
    position: relative;
    margin: 5px;
    border-radius: 20px;
    overflow: hidden;
}
#sketchbook .img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    opacity: 0;
    transition: all .3s linear;
}
#sketchbook .img-overlay .text {
    padding: 70px;
}
.sketchbook .img-overlay:hover {
    opacity: 0.5;
}
.term {
    visibility: hidden;
}
.term div {
    display: inline-block;
}
.term .content {
    width: 100%;
}
.term textarea {
    background-color: blue;
}
.readme {
    height: 40rem;
    width: 80rem;
    background-color: white; 
    visibility: visible;
}
.readme .content {
    color: black;
}
.resume {
    height: 38rem;
    width: 51.5rem;
}
/*Desktop icons*************************************************************/
.desktop-icons {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.icon {
    height: 4rem;
    width: 5rem;
    text-align: center;
    padding-top: 20px;
}
.icon img {
    width: 2.5rem;
    transition: all ease-in-out 100ms;
}
.icon img:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.icon-text {
    color: white;
}
.terminal-button img {
    width: 2.5rem;
    height: 2rem;
}
.terminal-button {
    height: 3.5rem;
    padding-top: 2rem;
}
.resume-button {
    padding-top: 30px;
}
.bottom-bar {
    position: fixed;
    background-color: rgba(97, 4, 184, 0.733);
    border-top: 2px solid rgb(12, 0, 68);
    color: rgb(255, 255, 255);
    height: 2.5rem;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.link-wrapper {
    display: flex;
    flex-direction: row;
}
.link-wrapper i {
    padding: 10px;
    transition: all ease-in-out 100ms;
}
.link-wrapper a:nth-child(1) {
    color: #e01818; 
}
.link-wrapper a:nth-child(2) {
    color: #2f88e0;
}
.link-wrapper a:nth-child(3) {
    color: #b728db;
}
.link-wrapper a:nth-child(4) {
    color: #faeb20;
}
.link-wrapper a:nth-child(5) {
    color: #00b161;
}
.link-wrapper i:hover {
    transform: translateY(-5px);
}

