/*
*  TODO:
*    * make desktop background
*    * add date & time and do UI
*    * CHAT BOX : people log in with username and chat with other people on the site
*/
body {
    height: 98vh;
    padding: 0;
}
body {
    background-color: rgb(18, 16, 104);
    background-image: url(../images/neon_retro.jpg);
    background-size: cover;
	background-position: top;
    background-repeat: no-repeat;
    font-family: "Gloria Hallelujah", cursive;
    image-rendering: -webkit-optimize-contrast;
}
.panel {
    position: absolute;
    border-radius: 10px;
    border: 3px solid #030921;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e9ebf5;
    color: rgb(27, 27, 27);
    transition: all ease-in-out 300ms;
}
.panel .top_bar {
    height: 25px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    background-color: #c0c7db;
    color: black;
    display: flex;
    justify-content: space-between;
}
.top_bar .descriptor {
    margin-left: 5px;
}
.top_bar .buttons {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.top_bar .bar_click {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid black;
}
.panel .content {
    position: relative;
    height: calc(100% - 12px);
    overflow-y: auto;
}
.top_bar #minimize {
    background-color: rgb(159, 255, 196);
}
.top_bar #maximize {
    background-color: rgb(236, 234, 193);
}
.top_bar #close {
    background-color: rgb(255, 121, 121);
}
/*Desktop panels*************************************************************/
#music {
    height: 30rem;
    width: 40rem;
    background-image: linear-gradient(rgb(36, 36, 170), rgb(7, 5, 58));
    opacity: 1;
}
#music .playlist {
    height: 15rem;
}
#music .playlist .num-songs-wrapper {
    background-color: #0c0d2b;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    text-align: right;
    width: 38rem;
}
#music .playlist .songs-wrapper {
    background-color: #0c0d2b;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    height: 12rem;
    width: 38rem;
}
.playlist ul {
    list-style-type: decimal;
}
#music .music-player {
    background-color: #0c0d2b;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    height: 10rem;
    width: 38rem;
}

#projects {
    height: 90%;
    width: 60%;
}
#projects .wrapper {
    width: 1300px;
    max-width: 80%;
    margin: auto;
}
#projects .wrapper ul {
    list-style-type: none;
    padding-left: 0;
}
#projects .wrapper ul li {
    margin-bottom: 20px;
}
#projects .project {
    width: 100%;
    padding: 30px;
}
#projects .content-wrapper {
    display: flex;
}
#projects .data-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}
#projects .image-wrapper {
    width: 50%;
    max-height: 350px;
    border: 1px solid black;
}
#projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#projects .skills li a {
    color: rgb(0, 225, 255);
}
#projects .skills ul {
    list-style-type: none;
    margin-top: 10px;
}
#projects .skills ul li {
    float: left;
    padding-right: 20px;
    margin: 0;
}
/*Desktop icons*************************************************************/
.time {
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: white;
    font-size: 3rem;
    font-family: 'Chakra Petch', sans-serif;
}
.desktop-icons {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.icon {
    width: 5rem;
    text-align: center;
    color: white;
    margin-top: 1rem;
}
.icon img {
    width: 2.5rem;
    transition: all ease-in-out 100ms;
    cursor: pointer;
}
.icon img:hover {
    transform: translateY(-5px);
}
/*Bottom Bar*************************************************************/
.bottom-bar {
    position: fixed;
    background-color: #afbee9;
    color: white;
    left: 0;
    bottom: 0;
    width: 99%;
    display: flex;
    flex-direction: row;
}
.link-wrapper {
    display: flex;
    flex-direction: row;
}
.link-wrapper i {
    padding-left: 20px;
    transition: all ease-in-out 100ms;
}
.link-wrapper a:nth-child(1) {
    color: #e01818; 
}
.link-wrapper a:nth-child(2) {
    color: #2f88e0;
}
.link-wrapper a:nth-child(3) {
    color: #b728db;
}
.link-wrapper a:nth-child(4) {
    color: #faeb20;
}
.link-wrapper a:nth-child(5) {
    color: #00b161;
}
.link-wrapper i:hover {
    transform: translateY(-5px);
}

