/*
*  TODO:
*    * make desktop background
*    * add date & time and do UI
*    * CHAT BOX : people log in with username and chat with other people on the site
*/
body {
    height: 98vh;
    padding: 0;
}
body {
    background-color: rgb(18, 16, 104);
    background-image: url(../images/neon_retro.jpg);
    background-size: cover;
	background-position: top;
    background-repeat: no-repeat;
    font-family: 'Source Code Pro', monospace;
    image-rendering: -webkit-optimize-contrast;
}
.panel {
    position: absolute;
    border-radius: 10px;
    border: 3px solid #030921;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #030921;
    color: rgb(184, 235, 255);
    transition: all ease-in-out 300ms;
    opacity: 0.95;
}
.panel .top_bar {
    height: 25px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    background-color: #010616;
    color: white;
    display: flex;
    justify-content: space-between;
}
.panel .content {
    position: relative;
    height: 100%;
    overflow-y: auto;
}
.top_bar .descriptor {
    padding-left: 10px;
    padding-top: 5px;
}
.top_bar .buttons {
    display: flex;
    justify-content: end;
}
.top_bar .bar_click {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: pink;
    margin: 3px;
    cursor: pointer;
}
.top_bar #minimize {
    background-color: gray;
}
.top_bar #maximize {
    background-color: gray;
}
.top_bar #close {
    background-color: red;
}
/*Desktop panels*************************************************************/
#music {
    height: 30rem;
    width: 40rem;
    background-image: linear-gradient(rgb(36, 36, 170), rgb(7, 5, 58));
    opacity: 1;
}
#music .playlist {
    height: 15rem;
}
#music .playlist .num-songs-wrapper {
    background-color: #0c0d2b;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    text-align: right;
    width: 38rem;
}
#music .playlist .songs-wrapper {
    background-color: #0c0d2b;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    height: 12rem;
    width: 38rem;
}
.playlist ul {
    list-style-type: decimal;
}
#music .music-player {
    background-color: #0c0d2b;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    height: 10rem;
    width: 38rem;
}

#projects {
    height: 90%;
    width: 70%;
}
#projects .content-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}
#projects .circle {
    background-color: rgb(224, 30, 224);
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    position: absolute;
    z-index: -999;
    top: -5rem;
    left: 4rem;
}
#projects #c-2 {
    left: 14.5rem;
    top: 0;
}
#projects #c-3 {
    left: 25rem;
}
#projects .title {
    font-size: 4rem;
    font-weight: 800;
    margin-left: 3rem;
    font-family: poppins;
}
#projects .title span:nth-child(1) {
    color: rgb(12, 12, 235);
}
#projects .intro {
    margin-left: 3rem;
    margin-top: 1rem;
}
#projects .content-wrapper .buttons {
    margin: 2rem 0rem 2rem 3rem;
    display: flex;
}
#projects .content-wrapper .button {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 223);
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 6rem;
    text-align: center;
    margin-right: 1rem;
}
.button {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    transition: all ease-in-out 300ms;
}
#projects .content-wrapper .button:hover {
    cursor: pointer;
    border: 1px solid rgb(205, 0, 223);
}
#projects .project-cat {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-cat .container{
    width: 40%;
}
.project-cat .photo {
    width: 50%;
    margin: 10px;
    border-radius: 15px;
}
.project-cat .photo img {
    width: 100%;
    height: auto;
    opacity: 0.9;
    border-radius: 15px;
}
.project-cat .description {
    background-color: #0a2752;
    padding: 20px;
    border-radius: 15px;
}
.project-cat .project-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.project-cat a {
    color: rgb(0, 225, 255);
    text-decoration: none;
}
.project-cat ul {
    list-style-type: none;
    margin: 0;
    margin-top: 1rem;
}
.project-cat ul li {
    float: left;
    padding-right: 20px;
}
#p-1, #p-3 {
    text-align: right;
}
#p-1 ul {
    float: right;
}
#p-3 ul {
    float: right;
}
/*Desktop icons*************************************************************/
.time {
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: white;
    font-size: 3rem;
    font-family: 'Chakra Petch', sans-serif;
}
.desktop-icons {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.icon {
    width: 5rem;
    text-align: center;
    color: white;
    margin-top: 1rem;
}
.icon img {
    width: 2.5rem;
    transition: all ease-in-out 100ms;
    cursor: pointer;
}
.icon img:hover {
    transform: translateY(-5px);
}
/*Bottom Bar*************************************************************/
.bottom-bar {
    position: fixed;
    background-color: #061c57ce;
    color: rgb(255, 255, 255);
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.link-wrapper {
    display: flex;
    flex-direction: row;
}
.link-wrapper i {
    padding: 5px;
    padding-left: 15px;
    transition: all ease-in-out 100ms;
}
.link-wrapper a:nth-child(1) {
    color: #e01818; 
}
.link-wrapper a:nth-child(2) {
    color: #2f88e0;
}
.link-wrapper a:nth-child(3) {
    color: #b728db;
}
.link-wrapper a:nth-child(4) {
    color: #faeb20;
}
.link-wrapper a:nth-child(5) {
    color: #00b161;
}
.link-wrapper i:hover {
    transform: translateY(-5px);
}

