body {
    font-family: 'Source Code Pro', monospace;
    /*background-image: repeating-linear-gradient(to right, transparent, transparent 5px, rgba(0,0,0,0.05) 5px, rgba(0,0,0,0.1) 10px);*/
    background-image: linear-gradient(black, rgb(18, 108, 182));
    height: 98vh;
}
h1 {
    font-size: 18px;
    font-weight: 500;
}
.desk {
    width: 100vw;
    height: 40vh;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: rgb(187, 187, 187);
    box-shadow: 0 0 70px 5px rgb(0, 0, 0);
    background-image: url(../images/wildtextures-clean-plywood-plate.jpg);
    z-index: -999;
}
.desk-overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    background: linear-gradient(rgb(0, 2, 17) 40%, rgb(84, 134, 209));
    opacity: 0.7;
}
.computer {
    --height: 55vh;
    height: var(--height);
    width: calc(var(--height) * 3/2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.monitor {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 15px;
}
#screen {
    height: 90%;
    width: 100%;
    background-color: #0c0c0c;
    box-shadow: 0 0 5px 5px #000000 inset, 0 0 500px rgba(220, 242, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#screen.powerOn {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background-color: #bddfff;
}
#screen .content {
    font-size: 20px;
}
.monitor-lower {
    display: flex;
    justify-content: right;
    background: linear-gradient(90deg, #665a65 40%, #3f222d, #3a2c38 90%);
    height: 10%;
    border-radius: 0 0 15px 15px;
    box-shadow: 5px 0 0 0 rgb(72, 72, 75) inset, -5px 0 0 0 rgb(112, 102, 112) inset, 
                0 12px 0 -7px rgb(161, 161, 175) inset, 0 -6px 0 0 rgb(27, 21, 31) inset;
}
#power-button {
    height: 30px;
    width: 30px;
    background: black;
    margin-top: 1.5%;
    margin-right: 2%;
    border-radius: 50%;
    box-shadow: 5px 0px 10px 0px rgb(72, 72, 75) inset;
    cursor: pointer;
}
.power {
    height: 4px;
    width: 8px;
    background-color: #98cdff;
    box-shadow: 0 0 20px 10px rgba(204, 216, 238, 0.603);
    margin-top: 2%;
    margin-right: 2%;
}
.monitor-stand {
    width: 50%;
    position: relative;
    margin: 0 auto;
}
.shaft {
    height: 6rem;
    width: 20%;
    background-image: linear-gradient(#000000, #11131f);
    box-shadow: 3px 0 0 0 rgb(45, 44, 51) inset, -3px 0 0 0 rgb(45, 44, 51) inset, 
                0 0 0 0 rgb(0, 0, 0) inset, 0 0 0 0 rgb(0, 0, 0) inset;
    border-radius: 0 0 2px 2px;
    position: relative;
    margin: 0 auto;
}
.stand-surface {
    height: 0;
    width: 63%;
    border-bottom: 8rem solid rgb(8, 21, 49);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-radius: 5px;
    clip-path: inset(0px 0px -30px 0px);
    z-index: -999;
}
.stand-bottom {
    height: 1.5rem;
    width: 100%;
    background: linear-gradient(45deg, rgb(10, 11, 31), rgb(4, 2, 19));
    box-shadow: 0 15px 20px 0px black;
}