body {
	/*background: linear-gradient(135deg, #4C71DE, #460808);*/
	background-size: 100% 100%;
	background-color: #0E131C; /* used if image is unavailable */
	font-family: source-code-pro, monospace;
	font-style: normal;
	font-weight: 200;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.wrapper {
	position: relative;
}
.buttonbar {
	height: 30px;
	background-color: transparent;
	text-align: right;
}
.button {
	color: white;
	background-color: transparent;
	border: none;
	padding: 6px;
	font-size: 15px;
	outline: none;
	font-family: source-code-pro, monospace;
	font-style: normal;
	font-weight: 200;
}
.title-div {
	position: absolute;
	top: 0;
  left: 5%;
}
.title {
	color: white;
	font-family: "Oswald", sans-serif;
	font-style: italic;
	color: rgb(223, 191, 191);
	font-size: 5vw;
	animation: title 2s 2s infinite;
}
.title::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, title 5s 5.05s infinite;
}
.title::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, title 5s 5s infinite;
}
@keyframes title {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}
.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) .5%,
    transparent 1%
  );

  animation: fudge 7s ease-in-out alternate infinite;
}
@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}
.glow {
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}
.projects {
  position: relative;
  top: 10%;
	width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  position: relative;
}
.image {
	height: auto;
  width: 500px;
  border-radius: 15px;
}
.description {
  visibility: hidden;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#museum.description {
  font-family: 'Inria Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 500;
}
#bnc.description {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cinzel', serif;
  font-size: 1.3em;
  font-weight: 700;
}
#psyche.description {
  font-family: 'Reenie Beanie', cursive;
  font-size: 2em;
}
.container:hover .image {
  opacity: .6;
}
.container:hover .description {
  visibility: visible;
}