body {
    font-family: "Gloria Hallelujah", cursive;
}
.background {
    height: 50vh;
    border-bottom: 1px solid black;
}

.bd {
    border: 1px solid black;
}
.calendar {
    --height: 48vh;
    height: var(--height);
    width: calc(var(--height) * 3/2);
    position: absolute;
    left: 80%;
    bottom: 60%;
}
.desktop-monitor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.monitor {
    --height: 50vh;
    height: var(--height);
    width: calc(var(--height) * 3/2);
    border-radius: 5px;
    background-color: white;
}
.screen {
    --height: 48vh;
    height: var(--height);
    width: calc(var(--height) * 3/2);
    position: relative;
    left: 1rem;
    top: 1rem;
    border-radius: 5px;
}
.monitor-stand {
    --width: 50%;
    width: var(--width);
    position: relative;
    left: calc(50% - var(--width) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stand-pole {
    width: 3rem;
    height: 5rem;
    background-color: white;
}
.stand-base {
    width: 100%;
    height: 3rem;
    background-color: white;
}
.keyboard {
    width: 100rem;
    height: 30rem;
    border: 1px solid black;
}

main {
    font-size: 16px;
}
